<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <header>
    <ul class="nav bg-">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/todos">Todos</a>
      </li>
    </ul>
  </header>
  <body>
    <h1>Todos</h1>
    <div class="card" style="width: 18rem">
        <ul class="list-group list-group-flush">
            <% todos.forEach( el => { %>
                <li class='todoItem list-group-item' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not' %>'><%= el.todo %></span>
                    <button class='del btn btn-outline-danger btn-sm d-flex flex-column'> Delete </button>
                </li> 
            <% }) %>    
        </ul>
    </div>

    <h2>Things left to do: <%= left %></h2>

    <div class="">
      <div class="">
        <form action="/todos/createTodo" method="POST" class="row g-3">
          <input type="text" placeholder="Enter Todo Item" name="todoItem" />
          <button type="submit" class="btn btn-outline-primary">Add Todo</button>
        </form>
      </div>
    </div>

    <script src="js/main.js"></script>
  </body>
  <footer>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <p class="navbar-brand">Task Manager</p>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/todos">Todos</a>
            </li>
          </ul>
          <span class="navbar-text"> Created by Eduardo Vazquez </span>
        </div>
      </div>
    </nav>
  </footer>
</html>
