<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: `${todo.title} | Task Todo`}) %>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
      <div class="row">
        <div class="">
          <h1 class="mt-5">Todo Details</h1>
          <table class="">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= todo.title %></td>
                <td><%= todo.description %></td>
              </tr>
            </tbody>
          </table>
          <a href="/todos" class="">Back</a>
        </div>
      </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
